.container {
    height: 100vh;
    display: flex;
}

.accountInfo {
    display: flex;
    flex-direction: row;
    justify-self: center;
    flex-flow: column wrap;
    align-items: center;
    height: 40%;
    margin-top: 3%;
    min-width: 40%;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.tokenInfo {
    margin-top: 1%;
}

.reveal {
    margin-top: 1%;
}

.bottomContainer {
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: end;
}

.delete {
    align-self: flex-end;
}

#deleteAccount {
    margin-bottom: 30%;
}