.dashboard-container {
  padding-bottom: 3%;
  margin-left: 2%;
  margin-right: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 85vh;
}

.repo-item-container {
  animation-name: growOnLoad;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
}

@keyframes growOnLoad {
  0% {
    transform: scale(0.1, 0.1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.repo-item-container:hover {
  transform: scale(1.05, 1.05);
}

.repo-item-condensed {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100%;
}

.repo-tiles-grid {
  margin-bottom: 3px;
  /* border: solid 1px gray; */
  border-radius: 10px;
  width: 100%;
  min-height: 100%;
  /* scroll-behavior: auto; */
}
/* only needed if change modal to repoItemExpanded */
/* .repo-item-expanded {
   width: 90vw !important;
   height: 80vh !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;   
  top: 49%; 
  left: 46.5%;
  transform: translate(-50%, -50%); 
} */
.repo-details {
  width: 75%;
  height: 50%;
}

.line-chart {
  /* width: 50vw; */
  /* overflow-y: hidden; */
}
.chart-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  width: 100%;
  height: 0%;
  display: grid;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 2%;
}

.emptyRepoContainer {
  width: 100%;
  height: 90%;
  display: grid;
  overflow: contain;
  justify-content: center;
  height: 86vh;
}

.emptyRepoContent {
  width: 35%;
  min-width: 350px;
  display: grid;
  height: 20%;
  min-height: 200px;
  justify-self: center;
  border-radius: 10px;
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.emptyRepoContent #header {
  font-size: 1.3em;
  font-weight: 600;
  text-align: center;
  margin-top: 2%;
}

.repoBottomContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
}

.code {
  padding: 3%;
  height: 100%;
  width: 100%;
}

.repoInstructions {
  padding: 5%;
  height: 100%;
}

.repoInstructions a {
  font-weight: 600;
}

.repoInstructions a:hover {
  filter: brightness(115%);
}

.codeBox {
  box-shadow: 0 4px 6px 0 rgba(201, 198, 198, 0.2), 0 4px 20px 0 rgb(2, 2, 2);
  border-radius: 10px;
  text-align: center;
}

.loader-container {
  position: relative;
  top: 20vh;
}
