.dependencies-page-container {
  width: 100;
  /* min-height: 86vh; */
  height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dependencies-list-parent-container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 80%;
  animation-name: growWidthOnLoad;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}
.dependencies-list-parent-container-mobile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 90%;
  height: 80%;
  animation-name: growWidthOnLoad;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
}

@keyframes growWidthOnLoad {
  0% {
    transform: scale(0, 1);
  }
  100% {
    transform: scale(1, 1);
  }
}

.dependencies-child-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 1%; */
}
.dependencies-child-mobile {
  background-color: green;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dependencies-container-header {
  /* background-color: green; */
  margin: 1.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* width: 100%; */
  min-height: 7%;
}
.dependencies-container-header-mobile {
  /* background-color: blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* min-: 7%; */
  width: 100%;
}
.header-item-mobile {
  flex: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}
.header-item-slider {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vh;
}

.list-of-all-dependencies {
  margin: 1% 0;
  width: 100%;
  overflow: auto;
}
.list-of-tracked-dependencies {
  margin: 1% 0;
  width: 100%;
  overflow-y: auto;
}
/* width */
.list-of-tracked-dependencies::-webkit-scrollbar {
  width: 15px;
}

/* Track */
.list-of-tracked-dependencies::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.list-of-tracked-dependencies::-webkit-scrollbar-thumb {
  /* border: 1px solid #EF8354; */
  background: #ef8354;
  border-radius: 10px;
}

/* Handle on hover */
.list-of-tracked-dependencies::-webkit-scrollbar-thumb:hover {
  background: #e95818;
}
