.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.contactUs {
  flex: 33%;
  list-style: none;
  padding-top: 5px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  border-radius: 10px;
  padding: 5px;
  background-color: black;
}
