.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 2.5%;
  height: 7vh;
}

.footerBox {
  width: 300px;
}

.label:nth-child(-n + 2) {
  flex: 40%;
}
