.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 2.5%;
  height: 7vh;
}

.footerBox {
  display: grid;
  width: 25%;
  min-width: 250px;
  color: #00000099;
  font-size: max(0.75vw, 12px);
  font-weight: 600;
  font-family: Roboto, system-ui, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footerBox a {
  color: #00000099;
  justify-self: center;
}

.footerBox a:hover {
  color: white;
}

#copyright {
  text-align: center;
}

#copyright p {
  color: #00000099;
}

.socials {
  display: flex;
  height: 100%;
  width: 100%;
  gap: 5px;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/3/2;
}

.twitterLogo {
  width: 18%;
  min-width: 18px;
}

.githubIcon {
  width: 25px;
}

.LinkedInLogo {
  width: 80px;
  margin-top: 3px;
}