.getStartedMobileContainer {
  height: 93vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.getStartedMobileImageContainer {
  margin-bottom: 20px;
}
.getStartedMobileTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 85vh;
  padding: 7.5%;
  border-radius: 25px;
  animation-name: fadeInOnLoad;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

.sectionText {
  margin: 5% 20% 0% 20% !important;
  font-size: 1.75em !important;
}

@media only screen and (min-width: 1000px) {
  .getStartedMobileTitle {
    width: 95vw !important;
  }
  #subTitle {
    font-size: 2.5em;
  }
}
