.getStarted {
  height: 100vh;
  width: 100%;
  text-shadow: 1px 1px 2px black;
}

.getStartedContainer {
  height: 50vh;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 1fr 1fr;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#title {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  font-size: 4em;
  align-items: center;
  font-weight: 600;
}

#title #first {
  justify-self: end;
}

#title #second {
  color: white;
}

#text {
  width: 100%;
  height: 100%;
  font-size: 1.5em;
  color: white;
  text-align: center;
}

.title1 {
  margin-top: 2%;
}
.title2 {
  margin-top: 2%;
}

#devisible {
  font-size: 1.5em;
  color: white;
}

#quickGlance {
  height: 50vh;
  width: 100%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0.19);
  position: relative;
  z-index: 5;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
}
.sectionTitle {
  font-weight: 600;
}
.sectionText {
  text-align: center;
  font-size: 1.5em;
}

.textContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

span {
  font-weight: 600;
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: start;
}

.demo {
  height: 40%;
  width: 35%;
  border-radius: 10%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}
