.installation {
  width: 100vw;
  height: 100vh;
}
.installContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  position: relative;
  margin-bottom: 7%;
  top: 5%;
  font-size: 3em;
  color: white;
}

.instructions {
  width: 80vw;
  height: 100vh;
}

ul {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%/1, max(280px, 100%/3)), 1fr)
  );
  list-style: none;
}

ul#team {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%/1, max(280px, 100%/4)), 1fr)
  );
  list-style: none;
}
