.installation {
  width: 100%;
  height: 100vh;
  -webkit-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px -4px 3px rgba(50, 50, 50, 0.75);
  box-shadow: 0px -4px 3px rgba(33, 33, 33, 0.75);
}
.installContainer {
  width: 100%;
  /* height: 100%; */
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 5vh;
}

.title {
  font-size: 5em;
  font-weight: 500;
  text-shadow: 2px 1px 2px black;
  text-align: center;
  align-self: end;
}

.codeBlock {
  width: fit-content;
  height: fit-content;
  padding: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.codeBlock2 {
  font-size: 0.55em;
  width: fit-content;
  height: fit-content;
  padding: 1%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 3%;
  justify-self: center;
}

img {
  width: 100%;
}

a:hover {
  filter: brightness(150%);
}

.titleContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-content: center;
  margin-top: 2%;
}

#nextSteps {
  justify-self: center;
  align-self: start;
}

#gaCodeBlock {
  font-size: 0.9em;
}

#registerGif {
  margin-top: 2%;
  height: 100%;
  width: 100%;
}

#or {
  width: 100%;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

#globalInstallDemo {
  margin-top: 2%;
}
