* {
  margin: 0;
}

#landingContainer {
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar {
  position: fixed;
  right: 10%;
  top: 15%;
}

.sidebarItem:not(:last-child) {
  margin-bottom: 3%;
}
