* {
  margin: 0;
}

#landingContainer {
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#sidebar {
  position: fixed;
  right: 1%;
  top: 15%;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  font-weight: 600;
}

.sidebarItem:not(:last-child) {
  margin-bottom: 3%;
}
