* {
  margin: 0;
}

#landingContainer {
  height: 100% !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-size: 0.9vw;
}

#sidebar {
  position: fixed;
  right: 0.5%;
  top: 15%;
  color: white;
  font-size: 1em;
  cursor: pointer;
  font-weight: 600;
  z-index: 6;
  display: grid;
  text-align: center;
  border-radius: 10px;
  width: 6%;
  height: 14%;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.sidebarItem {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.sidebarItem a:hover {
  filter: brightness(250%)
}

.sidebarItem:not(:last-child) {
  margin-bottom: 3%;
}
