.loaderImage {
  width: 75px;
  height: 75px;
}

.spinner {
  animation-name: rock, spinSlow, spinFast;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* height: 100%; */
  /* /* justify-content: center; */
  /* align-self: center;  */
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@keyframes rock {
  0% {
      transform: rotate(0deg);
  }
  25% {
      transform: rotate(-45deg);
  }
  50% {
      transform: rotate(45deg);
  }
}
@keyframes spinSlow {
  50% {
      transform: rotate(45deg);
  }
  100% {
      transform: rotate(720deg);
  }
}