.loginContainer {
  width: 100%;
  height: 86vh;
  display: flex;
  justify-content: center;
}

.loginFormBox {
  width: 25%;
  min-width: 300px;
  height: 80%;
  max-height: 550px;
  display: grid;
  grid-template-rows: 1fr 1fr 15%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

#loginLogoContainer {
  height: 90%;
  width: 90%;
  display: grid;
  justify-self: center;
  justify-content: center;
  align-items: center;
}

#loginLogo {
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
}

.formContainer {
  display: grid;
  align-items: start;
  justify-self: center;
  width: 100%;
  margin-top: -3%;
}

.loginForm {
  display: grid;
  justify-self: center;
  padding-left: 3%;
  padding-right: 3%;
  width: 65%;
  gap: 20px;
}

#buttonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#loginBtn {
  justify-self: center;
  width: 50%;
  height: 85%;
}

#loginBtn:hover {
  filter: brightness(80%);
}

.linkContainer {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  margin-top: -1%;
}

.signupRedirect {
  height: 100%;
  display: flex;
  justify-content: center;
  /* align-items: end; */
  font-size: 15px;
  gap: 5px;
  color: white;
}

.signupRedirect a {
  font-weight: 700;
  cursor: hover;
  color: #2d3142;
}

.signupRedirect a:hover {
  filter: brightness(150%);
}

.recoveryRedirect {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  font-size: 13px;
  gap: 5px;
  color: white;
}

.recoveryRedirect a {
  font-weight: 700;
  cursor: hover;
  color: #2d3142;
}

.recoveryRedirect a:hover {
  filter: brightness(150%);
}

#error {
  display: grid;
  border-radius: 5px;
  font-weight: 600;
  color: white;
  align-items: center;
  justify-self: center;
  font-size: max(0.8vw, 12px);
  margin-bottom: 5%;
  max-width: 80%;
  padding: 2%;
}

@media only screen and (max-height: 470px) {
  .loginContainer {
    height: 430px;
    z-index: 1;
  }
}
