.container {
  width: 100%;
  height: 90%;
  display: grid;
}

.loginFormBox {
  width: 25%;
  height: 55%;
  display: grid;
  grid-template-rows: 1fr 3fr 15%;
  justify-self: center;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0.19);
}

.logoContainer {
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-content: center;
}

.logo {
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
}

.loginForm {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-direction: column;
  height: 100%;
  width: 70%;
  padding: 3%;
  gap: 20px;
}

.buttonContainer {
  width: 100%;
  height: 25%;
  display: grid;
  align-items: center;
  justify-content: center;
}

#loginBtn {
  height: 45%;
  width: 120%;
  justify-self: center;
}

#loginBtn:hover {
  filter: brightness(80%);
}

.linkContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signupRedirect {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: 8%;
  gap: 5px;
  color: white;
}

.signupRedirect a {
  font-weight: 700;
  cursor: hover;
  color: #2d3142;
}

.signupRedirect a:hover {
  filter: brightness(150%);
}

.recoveryRedirect {
  height: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-bottom: 8%;
  gap: 5px;
  color: white;
}

.recoveryRedirect a {
  font-weight: 700;
  cursor: hover;
  color: #2d3142;
}

.recoveryRedirect a:hover {
  filter: brightness(150%);
}

.error {
  display: grid;
  position: absolute;
  height: fit-content !important;
  width: 25%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  color: white;
  align-items: center;
}